.topic {
  flex: 1;
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: .2rem 0 1rem 2rem;
  justify-content: space-between;
  align-items: center;
  border: 5px solid salmon;
  border-right: none;
  background-color: antiquewhite;
}

.topic>.topic {
  row-gap: 1rem;
}

.all-topics {
  flex-direction: column;
  row-gap: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 2rem 6rem;
}

.text {
  font-weight: semi-bold;
  font-size: 1.5rem;
}

.time {
  color: #828282;
}