.topic {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 4rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid salmon;
}

.all-topics {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}